.gi-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

    .gi-button:hover {
        background-color: #0056b3;
        box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
    }
.gi-background {
    background-color: #13192A;
    color: white;
    padding: 50px;
    text-align: center;
}